<template>
  <div>
    <h1>Vue Router Demo App</h1>

    <p>
      <router-link :to="{ name: 'home' }">Home</router-link> |
      <router-link :to="{ name: 'hello' }">Hello</router-link> |
      <router-link :to="{ name: 'passport-clients' }">Clients</router-link> |
      <router-link :to="{ name: 'passport-authorized-clients' }">Authorized Clients</router-link> |
      <router-link :to="{ name: 'passport-personal-access-tokens' }">Personal Access Tokens</router-link>
    </p>

    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
  export default {};
</script>